// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors

$primary: #FF419A;
$secondary: #12255F;
$canvas: #EDF7F6;
$base: #FFFFFF;
$neutral: #999999;
$light-neutral: #d3d3d3;
$black: #000000;
