@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.menu-listing {
    @include padding-sides();
    @include padding-component();
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__right {
        width: 20%;
    }
    &__name {
        @include subheader();
        margin: 0;
    }
    &__restaurant {
        @include catch-copy();
        @include padding-listing-gap();
    }
    &__rating {
        @include catch-copy();
        margin: 0;
        color: $primary;
        text-align: right;
    }
    &__price {
        @include catch-copy();
        @include padding-listing-gap();
        color: $secondary;
        text-align: right;
    }
}